* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul, ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}
